---
title: "GPT-4 Decoded: A Step Towards Social Verification"
date: 2024-10-30T17:03:49.608Z
updated: 2024-11-01T18:20:25.050Z
tags:
  - chatgpt
  - open-ai
categories:
  - openAI
  - chatgpt
description: "This Article Describes GPT-4 Decoded: A Step Towards Social Verification"
excerpt: "This Article Describes GPT-4 Decoded: A Step Towards Social Verification"
thumbnail: https://thmb.techidaily.com/99d21901c046ee167dc651651f4c0a4a5fcaa0180bc67e42c2265df29bcc90c2.png
---

## GPT-4 Decoded: A Step Towards Social Verification

 As if the world of artificial intelligence wasn't surprising enough, ChatGPT has upgraded from version 3.5 to version 4\. In this week's tech podcast for technophobes, we look at ChatGPT 4, and report on some new scams to look out for on social media.

**MUO VIDEO OF THE DAY**

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

>  Disclaimer: This post includes affiliate links
>
>  If you click on a link and make a purchase, I may receive a commission at no extra cost to you.
>

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

<!-- affiliate ads begin -->
<a href="https://united.elfm.net/c/5597632/517826/4704" target="_top" id="517826">
  <img src="//a.impactradius-go.com/display-ad/4704-517826" border="0" alt="https://techidaily.com" width="728" height="90"/>
</a>
<img height="0" width="0" src="https://united.elfm.net/i/5597632/517826/4704" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

<!-- affiliate ads begin -->
<span id="1975555">
					<video width="128" height="480" style="cursor:pointer"
           poster="//a.impactradius-go.com/display-clicktoplayimage/1975555.png"
           onclick="if(!this.playClicked){this.play();this.setAttribute('controls',true);this.playClicked=true;}">
	   <source src="//a.impactradius-go.com/display-ad/22993-1975555">
	   <img src="//a.impactradius-go.com/display-clicktoplayimage/1975555.png" style="border: none; height: 100%; width: 100%; object-fit: contain">
	</video>
	<div style="width:80px;text-align:center"><a href="javascript:window.open(decodeURIComponent('https%3A%2F%2Fhomestyler.sjv.io%2Fc%2F5597632%2F1975555%2F22993'), '_blank');void(0);">Click here</a></div>
</span>
<img height="0" width="0" src="https://imp.pxf.io/i/5597632/1975555/22993" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

<!-- affiliate ads begin -->
<a href="https://bluetties.sjv.io/c/5597632/2141688/17094" target="_top" id="2141688">
  <img src="//a.impactradius-go.com/display-ad/17094-2141688" border="0" alt="https://techidaily.com" width="120" height="90"/>
</a>
<img height="0" width="0" src="https://bluetties.sjv.io/i/5597632/2141688/17094" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://driver-error.techidaily.com/fixed-input-device-status-normalized-on-windows-11/"><u>[Fixed] Input Device Status Normalized on Windows 11</u></a></li>
<li><a href="https://visual-screen-recording.techidaily.com/updated-straightforward-recorder-app-windows-for-2024/"><u>[Updated] Straightforward Recorder App - Windows for 2024</u></a></li>
<li><a href="https://howto.techidaily.com/11-proven-solutions-to-fix-google-play-store-not-working-issue-on-itel-a70-drfone-by-drfone-fix-android-problems-fix-android-problems/"><u>11 Proven Solutions to Fix Google Play Store Not Working Issue on Itel A70 | Dr.fone</u></a></li>
<li><a href="https://fox-blue.techidaily.com/2024-approved-be-unique-in-conversation-customized-whatsapp-tones-for-ios-android-users/"><u>2024 Approved Be Unique in Conversation Customized WhatsApp Tones for iOS, Android Users</u></a></li>
<li><a href="https://youtube-docs.techidaily.com/-differentiation-with-powerful-youtube-names-for-2024/"><u>Brand Differentiation with Powerful YouTube Names for 2024</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/choosing-the-right-sidekick-a-comparison-of-the-google-pixel-watch-vs-apple-watch-series-9/"><u>Choosing the Right Sidekick: A Comparison of the Google Pixel Watch Vs. Apple Watch Series 9</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/crafting-smart-responses-via-python-plus-gpt-3/"><u>Crafting Smart Responses via Python + GPT-3</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/from-hectic-to-harmonious-adopting-these-9-gpt-strategies/"><u>From Hectic to Harmonious: Adopting These 9 GPT Strategies</u></a></li>
<li><a href="https://ios-unlock.techidaily.com/in-2024-forgot-apple-iphone-13-backup-password-heres-what-to-do-by-drfone-ios/"><u>In 2024, Forgot Apple iPhone 13 Backup Password? Heres What to Do</u></a></li>
<li><a href="https://ai-vdieo-software.techidaily.com/new-bring-your-videos-to-life-best-live-photo-converter-apps-and-how-tos/"><u>New Bring Your Videos to Life Best Live Photo Converter Apps and How-Tos</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/paving-pathways-for-the-future-top-5-advances-in-ai-tech-landscape/"><u>Paving Pathways for the Future: Top 5 Advances in AI Tech Landscape</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/reconstructing-erased-ai-communication/"><u>Reconstructing Erased AI Communication</u></a></li>
<li><a href="https://windows11.techidaily.com/repairing-filesystem-issues-with-ease-on-windows-11/"><u>Repairing Filesystem Issues with Ease on Windows 11</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/scam-lives-on-unveiling-metasig-at-twitter/"><u>Scam Lives On! Unveiling Metasig at Twitter</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/solving-six-frequent-vehicle-ai-system-implementation-problems/"><u>Solving Six Frequent Vehicle AI System Implementation Problems</u></a></li>
<li><a href="https://tech-hub.techidaily.com/step-by-step-tutorial-discovering-all-saved-pictures-in-windows-11-system/"><u>Step-by-Step Tutorial: Discovering All Saved Pictures in Windows 11 System</u></a></li>
</ul></div>

