---
title: "GPT-4 Decoded: A Step Towards Social Verification"
date: 2024-09-11T16:29:54.024Z
updated: 2024-09-17T16:44:57.290Z
tags:
  - chatgpt
  - open-ai
categories:
  - openAI
  - chatgpt
description: "This Article Describes GPT-4 Decoded: A Step Towards Social Verification"
excerpt: "This Article Describes GPT-4 Decoded: A Step Towards Social Verification"
thumbnail: https://thmb.techidaily.com/99d21901c046ee167dc651651f4c0a4a5fcaa0180bc67e42c2265df29bcc90c2.png
---

## GPT-4 Decoded: A Step Towards Social Verification

 As if the world of artificial intelligence wasn't surprising enough, ChatGPT has upgraded from version 3.5 to version 4\. In this week's tech podcast for technophobes, we look at ChatGPT 4, and report on some new scams to look out for on social media.

**MUO VIDEO OF THE DAY**

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

>  Disclaimer: This post includes affiliate links
>
>  If you click on a link and make a purchase, I may receive a commission at no extra cost to you.
>

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

<!-- affiliate ads begin -->
<span id="1531879">
					<video width="864" height="1536" style="cursor:pointer"
           poster="//a.impactradius-go.com/display-clicktoplayimage/1531879.png"
           onclick="if(!this.playClicked){this.play();this.setAttribute('controls',true);this.playClicked=true;}">
	   <source src="//a.impactradius-go.com/display-ad/16446-1531879">
	   <img src="//a.impactradius-go.com/display-clicktoplayimage/1531879.png" style="border: none; height: 100%; width: 100%; object-fit: contain">
	</video>
	<div style="width:540px;text-align:center"><a href="javascript:window.open(decodeURIComponent('https%3A%2F%2Flaganoo.pxf.io%2Fc%2F5597632%2F1531879%2F16446'), '_blank');void(0);">Click here</a></div>
</span>
<img height="0" width="0" src="https://imp.pxf.io/i/5597632/1531879/16446" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://extra-support.techidaily.com/2024-approved-seafarers-choice-top-5-pro-fish-cameras/"><u>2024 Approved Seafarer's Choice Top 5 Pro-Fish Cameras</u></a></li>
<li><a href="https://tech-hub.techidaily.com/5yq55p6c55qe44gq5oml44ow44os44o844kr44o844gu44ot44oh44kq5zyn57iu44og44kv44ol44od44kv77ya44k544ob44ol44ov44o844oj44k344kn44ki44cn/"><u>効果的な手ブレーカーのビデオ圧縮テクニック：スチュワードシェア」</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/free-guide-dividing-a-single-mp3-file-into-distinct-audio-segments/"><u>Free Guide: Dividing a Single MP3 File Into Distinct Audio Segments</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/how-to-compress-your-audio-files-efficiently-and-maintain-high-quality-sound/"><u>How To Compress Your Audio Files Efficiently and Maintain High-Quality Sound</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/how-to-efficiently-downsize-your-avi-videos-leading-software-solutions-for-quality-and-fit/"><u>How to Efficiently Downsize Your AVI Videos: Leading Software Solutions for Quality & Fit</u></a></li>
<li><a href="https://change-location.techidaily.com/in-2024-5-best-route-generator-apps-you-should-try-on-apple-iphone-13-pro-drfone-by-drfone-virtual-ios/"><u>In 2024, 5 Best Route Generator Apps You Should Try On Apple iPhone 13 Pro | Dr.fone</u></a></li>
<li><a href="https://win-amazing.techidaily.com/insignia-ns-pcy5bma2-universal-drivers-for-windows-operating-systems-10-8-and-7/"><u>Insignia NS-PCY5BMA2 - Universal Drivers for Windows Operating Systems (10, 8 & 7)</u></a></li>
<li><a href="https://extra-hints.techidaily.com/integrate-soundscape-into-premiere-pro-projects/"><u>Integrate Soundscape Into Premiere Pro Projects</u></a></li>
<li><a href="https://buynow-tips.techidaily.com/why-microsofts-upscaler-elevates-gaming-experience-in-the-new-copilotplus-era/"><u>Why Microsoft's Upscaler Elevates Gaming Experience in the New Copilot+ Era</u></a></li>
</ul></div>

