---
title: "GPT-4 Decoded: A Step Towards Social Verification"
date: 2024-09-20T16:21:33.747Z
updated: 2024-09-22T18:01:00.758Z
tags:
  - chatgpt
  - open-ai
categories:
  - openAI
  - chatgpt
description: "This Article Describes GPT-4 Decoded: A Step Towards Social Verification"
excerpt: "This Article Describes GPT-4 Decoded: A Step Towards Social Verification"
thumbnail: https://thmb.techidaily.com/99d21901c046ee167dc651651f4c0a4a5fcaa0180bc67e42c2265df29bcc90c2.png
---

## GPT-4 Decoded: A Step Towards Social Verification

 As if the world of artificial intelligence wasn't surprising enough, ChatGPT has upgraded from version 3.5 to version 4\. In this week's tech podcast for technophobes, we look at ChatGPT 4, and report on some new scams to look out for on social media.

**MUO VIDEO OF THE DAY**

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

>  Disclaimer: This post includes affiliate links
>
>  If you click on a link and make a purchase, I may receive a commission at no extra cost to you.
>

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

**SCROLL TO CONTINUE WITH CONTENT**

 You can subscribe to the Really Useful Podcast on [Apple Podcasts](https://podcasts.apple.com/gb/podcast/the-really-useful-podcast/id1437847131?mt=2), [Spotify](https://open.spotify.com/show/283gDxLd6OTNEpRq6tN7ha), [Google Podcasts](https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zMWJlNDcwL3BvZGNhc3QvcnNz), [Amazon Music and Audible](https://music.amazon.co.uk/podcasts/20ab73d4-5da2-46c7-a17f-dc6eb39bdb48/The-Really-Useful-Podcast), [Player FM](https://player.fm/series/the-really-useful-podcast-2491856), or copy the [RSS feed](https://feeds.transistor.fm/the-really-useful-podcast) into your podcast player.

<!-- affiliate ads begin -->
<span id="1424528">
					<video width="864" height="1536" style="cursor:pointer"
           poster="//a.impactradius-go.com/display-clicktoplayimage/1424528.png"
           onclick="if(!this.playClicked){this.play();this.setAttribute('controls',true);this.playClicked=true;}">
	   <source src="//a.impactradius-go.com/display-ad/16446-1424528">
	   <img src="//a.impactradius-go.com/display-clicktoplayimage/1424528.png" style="border: none; height: 100%; width: 100%; object-fit: contain">
	</video>
	<div style="width:540px;text-align:center"><a href="javascript:window.open(decodeURIComponent('https%3A%2F%2Flaganoo.pxf.io%2Fc%2F5597632%2F1424528%2F16446'), '_blank');void(0);">Click here</a></div>
</span>
<img height="0" width="0" src="https://imp.pxf.io/i/5597632/1424528/16446" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

## Shownotes

 This week, we chat about the following tech news that matters:

* [New Twitter Scam Targets Online Banking Customers With Retweets](https://www.makeuseof.com/twitter-scam-preys-on-banking-customers/)
* [Fake ChatGPT Chrome Extension Steals Facebook Logins](https://www.makeuseof.com/fake-chatgpt-chrome-extension-steals-facebook-logins/)
* [OpenAI Launches ChatGPT 4](https://www.makeuseof.com/openai-launches-gpt-4-artificial-intelligence-model/)
* [Meta Verified Launches in USA](https://www.makeuseof.com/meta-verified-launches-us/)
* [Meta Drops NFT Support in Facebook and Instagram](https://www.makeuseof.com/meta-drops-nft-support-instagram-facebook/)

 We've got this ChatGPT-4 explainer:

* [Differences Between ChatGPT 3.5 and ChatGPT 4](https://www.makeuseof.com/gpt-4-vs-gpt-35-differences-explained/)

 We finish the show with the following recommendations:

* [Samsung 43-inch Q60B QLED HDR TV](https://shop-links.co/link/?exclusive=1&publisher_slug=itechdaily19598&url=https%3A%2F%2Fwww.samsung.com%2Fuk%2Ftvs%2Fqled-tv%2Fq60b-43-inch-qled-4k-smart-tv-qe43q60bauxxu%2F)
* [Duelyst II](https://store.steampowered.com/app/2004320/Duelyst%5FII/) on Steam

 Christian Cawley and Gavin Phillips host this podcast. You can contact them on Twitter: [@thegadgetmonkey](https://twitter.com/thegadgetmonkey) and [@gavinspavin](https://twitter.com/gavinspavin), with your suggestions for future topics.

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://screen-mirroring-recording.techidaily.com/new-from-setup-to-sharing-comprehensive-guide-for-instagram-and-obs-integration-for-2024/"><u>[New] From Setup to Sharing Comprehensive Guide for Instagram & OBS Integration for 2024</u></a></li>
<li><a href="https://digital-screen-recording.techidaily.com/new-overcoming-inconsistency-stop-obs-frame-loss-for-2024/"><u>[New] Overcoming Inconsistency Stop OBS Frame Loss for 2024</u></a></li>
<li><a href="https://extra-support.techidaily.com/updated-navigating-the-world-of-audio-with-apods/"><u>[Updated] Navigating the World of Audio with APods</u></a></li>
<li><a href="https://youtube-lab.techidaily.com/approved-transfer-tactics-for-seamless-online-video-sharing/"><u>2024 Approved Transfer Tactics for Seamless Online Video Sharing</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/1726227770022-2024/"><u>2024最佳免費音樂製作軟件：前十名推薦清單</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/m4a-m4v-movavi/"><u>網路上免費轉換 M4A 到 M4V - 使用 Movavi 工具</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/convertisseurs-video-gratuits-pour-le-web-passer-flv-a-3gp-avec-movavi/"><u>Convertisseurs Vidéo Gratuits Pour Le Web : Passer FLV À 3GP Avec Movavi</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/gratuita-conversione-tta-per-i-tuoi-video-impara-a-farlo-usando-movavi/"><u>Gratuita Conversione TTA per I Tuoi Video: Impara a Farlo Usando Movavi!</u></a></li>
<li><a href="https://screen-mirroring-recording.techidaily.com/in-2024-top-8-free-enterprise-friendly-video-call-tools/"><u>In 2024, Top 8 Free Enterprise-Friendly Video Call Tools</u></a></li>
<li><a href="https://win-amazing.techidaily.com/mastering-seagate-backup-plus-drives-top-seo-techniques-for-optimal-results/"><u>Mastering Seagate Backup Plus Drives : Top SEO Techniques for Optimal Results</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/os-melhores-editores-video-para-estabilizacao-e-correcoes-em-202-opcoes-gratuitas-and-pagas/"><u>Os Melhores Editores Vídeo Para Estabilização E Correções Em 202([!]): Opções Gratuitas & Pagas</u></a></li>
<li><a href="https://buynow-info.techidaily.com/syma-s111g-quadcopter-evaluation-affordable-and-entertaining-indoor-flight/"><u>Syma S111G Quadcopter Evaluation: Affordable and Entertaining Indoor Flight</u></a></li>
<li><a href="https://techtrends.techidaily.com/turn-your-laptop-into-a-second-screen-tips-and-tricks-for-seamless-dual-display-setup/"><u>Turn Your Laptop Into a Second Screen - Tips & Tricks for Seamless Dual-Display Setup</u></a></li>
</ul></div>

