---
title: "Seeking Honesty: OpenAI's Tool for GPT Output Verification"
date: 2024-10-21T16:29:46.776Z
updated: 2024-10-26T21:28:16.425Z
tags:
  - chatgpt
  - open-ai
categories:
  - openAI
  - chatgpt
description: "This Article Describes Seeking Honesty: OpenAI's Tool for GPT Output Verification"
excerpt: "This Article Describes Seeking Honesty: OpenAI's Tool for GPT Output Verification"
thumbnail: https://thmb.techidaily.com/0a8efd832e4ff850ed2946c105917f658a3e5ec7d74782a26831b6d30a49981c.jpg
---

## Seeking Honesty: OpenAI's Tool for GPT Output Verification

 OpenAI's automated AI-powered chatbot, ChatGPT, has taken the internet by storm, but not without creating a few issues on the way. With writers, coders, marketers, and seemingly everyone else in between using ChatGPT to generate content, companies worldwide are staring down a tsunami of AI-generated content.

 **MUO VIDEO OF THE DAY**

 **SCROLL TO CONTINUE WITH CONTENT**

 With issues of plagiarism and stolen content constantly swirling around ChatGPT and its output, OpenAI has now released a new GPT-Classifier, a tool designed to detect and disclose whether the text you're reading was the work of ChatGPT or one of its other GPT tools.

>  Disclaimer: This post includes affiliate links
>
>  If you click on a link and make a purchase, I may receive a commission at no extra cost to you.
>

## OpenAI Launches GPT-Classifier to Help Check AI-Written Text

[OpenAI's announcement](https://openai.com/blog/new-ai-classifier-for-indicating-ai-written-text/) comes as [scrutiny on AI-writing and AI-generated text](https://www.makeuseof.com/dangers-ai-writing-how-spot-ai-generated-text/) steps up and companies intergrate ChatGPT output.

 The new GPT-Classifier attempts to figure out if a given piece of text was human-written or the work of an AI-generator. While ChatGPT and other GPT models are trained extensively on all manner of text input, the GPT-Classifier tool is "fine-tuned on a dataset of pairs of human-written text and AI-written text on the same topic."

 So instead of hoovering up information and recreating its best approximation, the GPT-Classifier attempts to compare similarities between known human text and known AI text to find discrepencies that reveal the source writer.

<!-- affiliate ads begin -->
<a href="https://aligracehair.sjv.io/c/5597632/1886015/19272" target="_top" id="1886015">
  <img src="//a.impactradius-go.com/display-ad/19272-1886015" border="0" alt="https://techidaily.com" width="300" height="90"/>
</a>
<img height="0" width="0" src="https://aligracehair.sjv.io/i/5597632/1886015/19272" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

## GPT-Classifier's Detection Is Currently Limited

 While the idea of easily spotting AI-generated text will be music to the ears of editors and educators, OpenAI has cautioned that its "classifier is not fully reliable."

 Currently, GPT-Classifier "correctly identifies 26% of AI-written text" while labeling 9% of human text as AI-written. OpenAI also notes that the tool's accuracy "typically improves as the length of the input text increases."

![gpt classifier tool testing human written text](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2023/01/gpt-classifier-tool-testing-human-written-text.jpg)

<!-- affiliate ads begin -->
<a href="https://appsumo.8odi.net/c/5597632/2123734/7443" target="_top" id="2123734">
  <img src="//a.impactradius-go.com/display-ad/7443-2123734" border="0" alt="https://techidaily.com" width="728" height="90"/>
</a>
<img height="0" width="0" src="https://appsumo.8odi.net/i/5597632/2123734/7443" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

 A cursory test of the GPT-Classifier spotted a human-generated example and marked it "very unlikely to be AI-generated," and also correctly indicated that a ChatGPT-generated snippet on USB issues was "possibly AI generated."

![gpt classifier tool testing ai written text](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2023/01/gpt-classifier-tool-testing-ai-written-text.jpg)

<!-- affiliate ads begin -->
<a href="https://aligracehair.sjv.io/c/5597632/1975816/19272" target="_top" id="1975816">
  <img src="//a.impactradius-go.com/display-ad/19272-1975816" border="0" alt="https://techidaily.com" width="300" height="90"/>
</a>
<img height="0" width="0" src="https://aligracehair.sjv.io/i/5597632/1975816/19272" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

<!-- affiliate ads begin -->
<a href="https://versadesk.pxf.io/c/5597632/1815678/21290" target="_top" id="1815678">
  <img src="//a.impactradius-go.com/display-ad/21290-1815678" border="0" alt="https://techidaily.com" width="728" height="90"/>
</a>
<img height="0" width="0" src="https://versadesk.pxf.io/i/5597632/1815678/21290" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

## The Demand for ChatGPT Detection Is High

 Even with the GPT-Classifier's limitations, the demand for reliable ChatGPT detection is likely to see many turn to this tool. OpenAI's commitment to building and releasing a free GPT detection tool is important because as more students, writers, programmers, and others use AI-text generation tools, understanding and detecting this input will become vital.

 For now, although GPT-Classifier is up and running and available for testing, it's best to take its labeling with a pinch of salt.

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://fox-access.techidaily.com/new-in-2024-action-herogo-black-vs-star-sj7-camera/"><u>[New] In 2024, Action HeroGo Black Vs Star SJ7 Camera</u></a></li>
<li><a href="https://fox-hovers.techidaily.com/2024-approved-revive-your-experience-with-these-key-iphone-x-tips/"><u>2024 Approved Revive Your Experience with These Key iPhone X Tips</u></a></li>
<li><a href="https://buynow-info.techidaily.com/evaluating-the-heimvision-sunrise-light-therapy-a80s-wake-up-experience/"><u>Evaluating the HeimVision Sunrise Light Therapy A80S Wake-Up Experience</u></a></li>
<li><a href="https://printer-issues.techidaily.com/hp-printer-setup-missing-driver-in-windows-os/"><u>HP Printer Setup: Missing Driver in Windows OS</u></a></li>
<li><a href="https://android-unlock.techidaily.com/in-2024-pattern-locks-are-unsafe-secure-your-vivo-x100-pro-phone-now-with-these-tips-by-drfone-android/"><u>In 2024, Pattern Locks Are Unsafe Secure Your Vivo X100 Pro Phone Now with These Tips</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/july-2020-updates-and-exodus-on-kodi-fixing-compatibility-issues-efficiently/"><u>July 2020 Updates and Exodus on Kodi: Fixing Compatibility Issues Efficiently</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/mastering-controller-pairing-linking-your-xbox-one-to-pc-complete-how-to/"><u>Mastering Controller Pairing: Linking Your Xbox One to PC - Complete How-To</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/mastering-the-art-of-screen-captures-simple-steps-for-snipping-on-your-toshiba-device/"><u>Mastering the Art of Screen Captures: Simple Steps for Snipping on Your Toshiba Device</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/optimize-windows-10-loading-times-for-a-snappier-computer-experience/"><u>Optimize Windows 10 Loading Times for a Snappier Computer Experience</u></a></li>
<li><a href="https://tech-revival.techidaily.com/protecting-secrets-think-again-before-sharing-with-gpt/"><u>Protecting Secrets? Think Again Before Sharing with GPT</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/quick-guide-accessing-advanced-startup-settings-on-windows-11/"><u>Quick Guide: Accessing Advanced Startup Settings on Windows 11</u></a></li>
</ul></div>

