---
title: Utilizing GPT Recognition for Authenticity Verification
date: 2024-09-28T23:28:27.184Z
updated: 2024-10-03T20:05:50.586Z
tags:
  - chatgpt
  - open-ai
categories:
  - openAI
  - chatgpt
description: This Article Describes Utilizing GPT Recognition for Authenticity Verification
excerpt: This Article Describes Utilizing GPT Recognition for Authenticity Verification
thumbnail: https://thmb.techidaily.com/6ed52b8d826a5b6701c9229d81239cb21a1a6ea95480871656b8b252c90f9890.jpeg
---

## Utilizing GPT Recognition for Authenticity Verification

>  Disclaimer: This post includes affiliate links
>
>  If you click on a link and make a purchase, I may receive a commission at no extra cost to you.
>

### Quick Links

* [What Is ChatGPT's GPT Mentions Feature?](https://appsumo.8odi.net/gmezyk)
* [How to Use the GPT Mentions Feature](https://boody-eco-wear.pxf.io/qyo4oo)

### Key Takeaways

* OpenAI's ChatGPT Plus offers a new feature called GPT Mentions, allowing users to combine multiple custom GPTs in one conversation.
* Users can mention custom GPTs in a conversation using the "@" symbol, similar to mentioning people on social media platforms.
* The GPT Mentions feature enables users to access different GPTs for specific tasks, such as gathering data, creating graphics, or finding travel information, all within a single chat session.

**MUO VIDEO OF THE DAY**

**SCROLL TO CONTINUE WITH CONTENT**

 OpenAI's premium version of ChatGPT, known as ChatGPT Plus, offers users a range of extra features in exchange for the monthly subscription fee. ChatGPT Plus's newest feature, GPT call-outs or mentions, may prove very useful to you if you use various GPTs within the ChatGPT interface. So, how does this feature work, and how can it benefit you?

<!-- affiliate ads begin -->
<a href="https://aligracehair.sjv.io/c/5597632/1938693/19272" target="_top" id="1938693">
  <img src="//a.impactradius-go.com/display-ad/19272-1938693" border="0" alt="https://techidaily.com" width="300" height="90"/>
</a>
<img height="0" width="0" src="https://aligracehair.sjv.io/i/5597632/1938693/19272" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

## What Is ChatGPT's GPT Mentions Feature?

 As a ChatGPT Plus member, you can [enjoy custom GPTs from the Custom GPT Store](https://www.makeuseof.com/how-to-use-chatgpt-custom-gpt-store/). These are versions of ChatGPT that are tailored to help with specific tasks. Some [popular custom GPTs](https://www.makeuseof.com/best-custom-gpts/) include...

* **KAYAK:** uses the KAYAK travel website to provide you with relevant flight, hotel, and transport information.
* **Canva:** takes text-based prompts and uses Canva to create digital graphics.
* **Consensus:** uses the Consensus search engine to provide research data from prompts.

 You can use any of the custom GPTs available individually, but what if you want to combine two or more custom GPTs in one conversation?

 Enter ChatGPT's new custom GPT Mentions feature. OpenAI began rolling out the GPT Mentions feature in late January 2023 for ChatGPT Plus users.

 This feature, which is currently in Beta (i.e. a prototype of the feature is being used temporarily), allows you to mention one or more custom GPTs in a single conversation using the "@" symbol (as you would to mention people on Instagram or X). With GPT Mentions, you can only add custom GPTs you've already used to the conversation (i.e. custom GPTs you've had conversations with).

 So, how can you use this?

## How to Use the GPT Mentions Feature

 If you're using a few custom GPTs in separate conversations, you'll now see the pop-up below displayed above your chat text box.

![screenshot of GPT mentions feature window on desktop](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2024/02/gpt-mention-1.png)

<!-- affiliate ads begin -->
<a href="https://aligracehair.sjv.io/c/5597632/1902278/19272" target="_top" id="1902278">
  <img src="//a.impactradius-go.com/display-ad/19272-1902278" border="0" alt="https://techidaily.com" width="728" height="90"/>
</a>
<img height="0" width="0" src="https://aligracehair.sjv.io/i/5597632/1902278/19272" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

 It's super easy to use GPT Mentions, so let's delve into an example of when it would be helpful.

 Let's say you wanted to gather some key data and then create an infographic to introduce what you've found. To find the data, you start a chat with the Consensus GPT. Once Consensus gives you the relevant information, you mention Canva in your chat, and click on the Canva GPT option.

![screenshot of chatgpt beta mentions feature being used in desktop browser](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2024/02/gpt-mentions-chat.png)

<!-- affiliate ads begin -->
<a href="https://ephamedtechinc.pxf.io/c/5597632/2126492/26400" target="_top" id="2126492">
  <img src="//a.impactradius-go.com/display-ad/26400-2126492" border="0" alt="https://techidaily.com" width="640" height="90"/>
</a>
<img height="0" width="0" src="https://ephamedtechinc.pxf.io/i/5597632/2126492/26400" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

 Now, you're chatting with Canva until you click "X" on the **Talking to Canva** tab that will appear above the chat text box.

![screenshot of active canva chat using beta gpt mentions feature on desktop browser](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2024/02/gpt-canva-talking.png)

 You can talk to the Canva GPT while mentioning the above conversation you've already had with Consensus. Simply ask Canva to create a graphic introducing the research Consensus provided, and the GPT will get to work providing you with something useful.

![screenshot of chatgpt custom gpt callout feature working with canva prompt on desktop](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2024/02/gpt-talking-canva.png)

 Of course, if you're not happy with Canva's initial response, you can make more specific requests to highlight what you're looking for. Maybe you want a specific font, or want a certain phrase used in the text of the graphic. Just ask, and the custom GPT should be able to comply.

 Note that, before a custom GPT connects with any other platform to retrieve data, it'll ask your permission to do so first. Just click **Allow** if you're happy to go ahead.

 You can also use this feature to find new places to explore. For instance, you can combine the KAYAK and AllTrails GPTs if you want to go on a hiking or cycling holiday.

 To demonstrate this, we asked KAYAK GPT to find us the best spots to stay in Germany, as well as upcoming flights.

![screenshot of kayak prompt result with chatgpt on desktop](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2024/02/gpt-kayak-result.png)

 After getting the results, we added the All Trails GPT to the chat using the GPT Mentions feature, and asked it to find trails near the hotels that KAYAK previously recommended.

![screenshot of alltrails gpt being used in chatgpt on desktop](https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2024/02/gpt-alltrails-result.png)

<!-- affiliate ads begin -->
<a href="https://bluettieu.pxf.io/c/5597632/2141676/17091" target="_top" id="2141676">
  <img src="//a.impactradius-go.com/display-ad/17091-2141676" border="0" alt="https://techidaily.com" width="728" height="90"/>
</a>
<img height="0" width="0" src="https://bluettieu.pxf.io/i/5597632/2141676/17091" style="position:absolute;visibility:hidden;" border="0" />
<!-- affiliate ads end -->

 Now, we have hotels, flights, and trails for our trip all in one chat!

 There's no end to what you can do with this new GPT Mentions feature, be it for work or play. If you're a ChatGPT Plus user, give this handy feature a try today to see what you can do when talking to two or more GPTs at once.

</article

<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="1223367746"></ins>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7571918770474297"
     data-ad-slot="8358498916"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>

<span class="atpl-alsoreadstyle">Also read:</span>
<div><ul>
<li><a href="https://article-posts.techidaily.com/new-in-2024-the-gamers-guide-to-boosting-pc-speed-controls/"><u>[New] In 2024, The Gamer's Guide to Boosting PC Speed Controls</u></a></li>
<li><a href="https://facebook-video-footage.techidaily.com/updated-in-2024-boost-your-revenue-yielding-earnings-from-youtube-at-500-followers/"><u>[Updated] In 2024, Boost Your Revenue Yielding Earnings From YouTube at 500 Followers</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/ai-basics-unlocked-start-here-with-these-9-educational-hubs/"><u>AI Basics Unlocked: Start Here with These 9 Educational Hubs</u></a></li>
<li><a href="https://howto.techidaily.com/authentication-error-occurred-on-samsung-galaxy-xcover-7-here-are-10-proven-fixes-drfone-by-drfone-fix-android-problems-fix-android-problems/"><u>Authentication Error Occurred on Samsung Galaxy XCover 7? Here Are 10 Proven Fixes | Dr.fone</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/exploring-auto-gpts-broad-potential/"><u>Exploring Auto-GPT's Broad Potential</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/from-text-to-talk-elevate-your-android-experience-with-chatgpt/"><u>From Text to Talk: Elevate Your Android Experience with ChatGPT</u></a></li>
<li><a href="https://some-knowledge.techidaily.com/in-2024-first-impressions-a-deep-dive-into-3d-printing-alone/"><u>In 2024, First Impressions A Deep Dive Into 3D Printing Alone</u></a></li>
<li><a href="https://fox-http.techidaily.com/in-2024-from-hd-to-breathtaking-eizos-newest-4k-display/"><u>In 2024, From HD to Breathtaking EIZO's Newest 4K Display</u></a></li>
<li><a href="https://buynow-info.techidaily.com/in-depth-assessment-of-the-moto-g-power-exceptional-battery-longevity-meets-smooth-execution/"><u>In-Depth Assessment of the Moto G Power: Exceptional Battery Longevity Meets Smooth Execution</u></a></li>
<li><a href="https://article-tips.techidaily.com/mastering-social-media-insta-to-tiksync/"><u>Mastering Social Media Insta-To-TikSync</u></a></li>
<li><a href="https://tech-savvy.techidaily.com/the-art-of-multiplying-creativity-canva-gpt-at-your-service/"><u>The Art of Multiplying Creativity: Canva, GPT at Your Service</u></a></li>
</ul></div>

